<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAzUlEQVR4AYXNS0vFYRjH8fcz7OwTIE0rAxlKAo0VgbQ3sMEhRERMQ9E8UL1tSUAxTHDvAUE4Jeg0MAwG4LwQx4wJEOsHgZzMzMD4ACuGvgHeX1+lsA9SsvEzFzA9nAnz7+EdUy8nE/9jNzRzBqgPt7Q8v02HBMyw7vVtXwCWlHEh2gP6N5nh8z7D3oOlDzNwEz2E+x6+kO8+wrAfqCf5SA+sCqBfOgMuwB6wHwgd6XDcDsAfAH8gP8BN7AEJIBsUzAEpwbRDSQCYkAu4EPwLgAPqC/gG/Ad2SHBDwAAAABJRU5ErkJggg==">

<!-- end custom head snippets -->
